{% extends "base.html" %}
{% block content %}
    <h2>Mi cuenta</h2>
    <form method="post">
        {% csrf_token %}
        <label for="first_name">Nombre:</label>
        <input type="text" name="first_name" id="first_name" value="{{ provider.first_name }}">
        <label for="last_name">Apellido:</label>
        <input type="text" name="last_name" id="last_name" value="{{ provider.last_name }}">
        <label for="contact_number">Teléfono:</label>
        <input type="text" name="contact_number" id="contact_number" value="{{ provider.contact_number }}">
        <label for="detailed_description">Descripción:</label>
        <textarea name="detailed_description" id="detailed_description">{{ provider.detailed_description }}</textarea>
        <button type="submit">Guardar cambios</button>
    </form>
{% endblock %}
