<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Ayudante</title>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <a href="{% url 'index' %}">
            <h1 class="borde_superior"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="28" viewBox="0 0 24 24"><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12a1 1 0 1 0 2 0a1 1 0 1 0-2 0m7 0a1 1 0 1 0 2 0a1 1 0 1 0-2 0m7 0a1 1 0 1 0 2 0a1 1 0 1 0-2 0"/></svg></h1>
        </a>
        <ul class="navbar">
            <div>
                <li><h1>Ayudante</h1></li>
            </div>
            <div class="navbar_accesos">
                <li><a id="navbar_boton_crear" href="{% url 'create_account' %}">Crear Cuenta</a></li>
                
                {% if user.is_authenticated %}
                    <li><a id="navbar_boton_cerrar" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a class="navbar_boton_iniciar" href="{% url 'login' %}">Iniciar Sesión</a></li>
                {% endif %}
            </div>
        </ul>
    </nav>

    {% block content %}{% endblock %}
</body>

</html>
