<!DOCTYPE html>
<html>
<head>
    <title>Ayudante</title>
</head>
<body>
    <header>
        <h1>Ayudante</h1>
        <nav>
            <a href="{% url 'index' %}">Inicio</a>
            {% if user.is_authenticated %}
                <a href="{% url 'account' %}">Mi cuenta</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
                <a href="{% url 'create_account' %}">Crear cuenta</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
